@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.myInfo {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
  height: 500px;
  width: 100%;
  border-bottom: solid 2px gray;
  margin: 0;
  padding: 0 120px;
}

.myInfo h1 {
  grid-column: 1;
  grid-row: 1;
  font-family: "Lexend";
  font-weight: 600;
  font-size: 70px;
  background: linear-gradient(90deg, #5b21b6, #399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myInfo .imgContainer {
  grid-column: 2;
  grid-row: 1/4;
  background-image: url(../assets/myPhoto.png);
  background-size: 560px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(100px);
  width: 100%;
  height: 100%;
}

.myInfo p {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-family: "Sansation";
  font-weight: 300;
}

.myInfo p span {
  font-size: 20px;
  font-family: "Sansation";
  font-weight: 300;
  color: #399;
}

.myInfo button {
  grid-column: 1;
  grid-row: 3;
  font-family: "Sansation";
  font-size: 14px;
  background: linear-gradient(#0f172a, #0f172a) padding-box,
    linear-gradient(90deg, #ec4899, #8b5cf6) border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  width: 10rem;
  height: 60px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.firstSection :nth-child(2) {
  margin-bottom: 3rem;
}



@media (max-width: 1124px){

  .myInfo {
    justify-items: center;
    align-items: center;
  }

  .myInfo h1{
    font-size: 60px;
    text-align: center;
  }

  .myInfo .imgContainer {
    transform: unset;
  }

  .myInfo p{
    text-align: center;
  }

  .myInfo br {
    display: none;
  }
}

@media (max-width: 950px) {
  .myInfo {
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    height: auto;
    padding: 0 1.5rem;
  }

  .myInfo h1 {
    text-align: center;
    grid-column: auto;
    grid-row: auto;
    font-weight: 700;
    font-size: 50px;
  }

  .myInfo .imgContainer {
  grid-row: 2;
  grid-column: 1;
  height: 300px;
  width: 400px;
  margin-bottom: -18px;
  background-size: contain;
  transform: unset;
  }

  .myInfo p {
    grid-row: 3;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    background-color: transparent;
  }

  .myInfo br {
    display: block;
  }

  .myInfo button {
    grid-row: 4;
    font-size: 10px;
    width: 8rem;
    height: 40px;
    margin: 20px;
  }
}

@media (max-width: 474px) {
  .myInfo .imgContainer {
  max-width: 260px;
  }
}