.title {
  font-family: "poppins";
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 50px;
  background: linear-gradient(to right, #5b21b6, #399, #dc82dc, #399, #5b21b6);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-top: 5rem;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
  width: 100%;
  height: auto;
  padding: 0 120px;
  border-bottom: solid 2px gray;
  gap: 4rem;
  padding-bottom: 5rem;
}

.projectCard {
  height: auto;
  width: 400px;
  border: solid 1px rgb(78, 78, 78);
  border-radius: 10px;
  overflow: hidden;
}

.firstCardImg {
  background-image: url(../assets/investment\ P.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}

.cardContent {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  background: linear-gradient(to right, #0b111b, #171e29);
}

.cardTitle {
  font-size: 28px;
  font-family: "poppins";
  font-weight: 200;
  text-align: center;
}

@media (max-width: 1124px) {
  .title{
    font-size: 44px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
  }

  .container {
  padding: 0 1.5rem 5rem;
  width: auto;
  gap: 2rem;
}

.projectCard{
  width: 350px;
}
}

@media (max-width: 900px) {
  .title{
    text-align: center;
    margin-left: 0;
  }

  .container {
  width: auto;
  justify-items: center;
  padding: 0 1.5rem 5rem;
  gap: 2rem;
}

.projectCard{
  width: 350px;
}
}

@media (max-width: 474px) {
  .projectCard{
    max-width: 260px;
  }
}
